.about__container {
  width: 80%;
  margin: 0 auto;
}

.about__title {
  @extend .skills--title;
  border-bottom: 3px solid rgb(0, 162, 255);
  margin-bottom: 30px;
}

.about__subtitle {
  font-size: 2em;
  border-bottom: 2px solid red;
  padding: 8px;
  width: 120px;
  text-align: center;
}

.about__certification-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.about__button {
  margin: 14px auto;
}

.about__text {
  text-align: justify;
  margin: 12px 0;

  @media screen and (min-width: 280px) {
    font-size: 1.3rem;
  }

  @media screen and (min-width: 580px) {
    font-size: 1.6rem;
  }

  @media screen and (min-width: 880px) {
    font-size: 1.7rem;
  }

  @media screen and (min-width: 1080px) {
    font-size: 1.8rem;
  }
}

.about__social-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  margin-left: 60px;

  @media screen and (max-width: $xs-breakpoint) {
    margin: 0;
  }
}

.about__social-inner-container {
  display: flex;
  justify-content: middle;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
  height: 80px;

  &:hover {
    > p {
      text-decoration: underline;
    }
  }
}

.about__social--text {
  vertical-align: middle;
  line-height: 2em;
  text-align: center;
  width: 100%;
  @media screen and (min-width: 280px) {
    font-size: 1.3rem;
  }

  @media screen and (min-width: 580px) {
    font-size: 1.6rem;
  }

  @media screen and (min-width: 880px) {
    font-size: 1.7rem;
  }

  @media screen and (min-width: 1080px) {
    font-size: 1.8rem;
  }
}

.about__social--icon {
  font-size: 4em;
  margin-right: 30px;
}
