.about__container {
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin: 0 auto;

  @media (max-width: $xs-breakpoint) {
    width: 100%;
  }
}

.about__title {
  text-align: center;
  margin: 0 auto 20px;
  font-weight: bold;
  color: #24099c;
  padding: 40px 20px 20px;

  @media (max-width: $s-breakpoint) {
    padding: 30px 15px 15px;
    margin: 0 auto 15px;
  }

  @media (max-width: $xs-breakpoint) {
    padding: 20px 10px 10px;
    margin: 0 auto 10px;
  }
}

.about__subtitle {
  text-align: left;
  margin: 0 auto 5px;
  font-weight: bold;
  color: #f00;
  font-size: 22px;

  @media (max-width: $s-breakpoint) {
    font-size: 20px;
    margin: 0;
  }

  @media (max-width: $xs-breakpoint) {
    font-size: 18px;
    margin: 0;
  }
}

.about__certification-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.about__button {
  margin: 14px auto;
}

.about__text {
  text-align: justify;
  margin: 12px 0;

  @media screen and (min-width: 280px) {
    font-size: 13px;
  }

  @media screen and (min-width: 580px) {
    font-size: 14px;
  }

  @media screen and (min-width: 880px) {
    font-size: 15px;
  }

  @media screen and (min-width: 1080px) {
    font-size: 16px;
  }
}

.about__social-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  @media screen and (max-width: $xs-breakpoint) {
    margin: 0;
  }
}

.about__social-inner-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
  height: 80px;
  align-items: center;

  &:hover {
    > p {
      text-decoration: underline;
    }
  }
}

.about__social--text {
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  font-size: 14px;

  @media screen and (max-width: $xs-breakpoint) {
    font-size: 13px;
  }
}

.about__social--icon {
  font-size: 48px;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  display: flex !important;
  width: 70px;
  @media screen and (max-width: $md-breakpoint) {
    font-size: 40px;
    width: 50px;
  }
  @media screen and (max-width: $s-breakpoint) {
    font-size: 32px;
    width: 40px;
  }
}
