.form--container {
  color: #fff;
  max-width: 400px;
  margin: 30px auto;
  border-radius: 5px;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: $form-bg no-repeat center;
}

.form--inputs {
  font-size: 1.8em !important;
  width: 100%;
  resize: vertical;
  color: #fff !important;

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $off-white !important;
    font-style: italic !important;
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $off-white !important;
    font-style: italic !important;
    opacity: 1; /* Firefox */
  }
}

.form__details--error {
  position: absolute;
  top: 0;
}

.invalid-feedback {
  font-size: 14px !important;
}

.form--title {
  padding: 14px;
  text-align: center;
}

.form--labels {
  font-weight: 700;
  font-size: 1.8em !important;
}
