.ReactModal__Body--open {
  overflow-y: hidden;
}

.carousel-indicators {
  position: relative !important;
  margin: 10px auto !important;

  li {
    background-color: #000 !important;
  }
}

.carousel__image {
  width: 100%;
  justify-content: center;
  justify-items: center;
  display: flex;
}

.carousel-caption {
  position: relative !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  padding: 0 !important;

  p {
    color: black !important;
    padding: 20px 0 5px !important;
    font-size: 20px;

    @media (max-width: $l-breakpoint) {
      font-size: 18px;
    }

    @media (max-width: $md-breakpoint) {
      font-size: 16px;
    }
  }
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e") !important;
}
