.blog-title {
	font-size: 32px;
	text-align: center;
	text-decoration: underline;
	padding: 30px;
}

.blog-text {
	font-size: 20px;
	margin: 8px 30px;
}

.login {
	float: right;
	margin-top: -10px;
	padding: 0px 30px 10px 10px;
	height: 300px;
	width: auto;
	clear: left;
}

.post {
	height: 350px;
	clear: right;
	float: left;
	margin: 10px 50px 30px 30px;
}

.blog-subtitle {
	text-decoration: underline;
	font-size: 22px;
	padding-left: 30px;
	margin-top: 30px;
}

.list {
	font-size: 20px;
	margin-left: 30px;	
}