#calculator {
    height: 450px;
    width: 300px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #dfd8d0;
    border: 2px solid #908b85;
    border-radius: 20px;
    box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.68), inset -1px -6px 12px 0.1px #89847e;
}

#title {
	margin: 40px 0 0 0;
    padding-bottom: 20px;
    font-family: Orbitron, cursive;
}

#entrybox {
    margin-top: -6px;
    width: 85%;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #b4b39d;
    border-radius: 6px;
    background-color: #c3c2ab;
    font-family: Orbitron, cursive;
    text-overflow: ellipsis;
    overflow: hidden;
}

#sums {
    /*transform: translate(-13px, -17px);*/
    position: relative;
    height: 10px;
    margin-top: -10px;
    bottom: 0;
    margin-right: 16px;
    color: #8b8b7b;
    font-size: 12px;
    text-overflow: ellipsis;
}


#outcome {
    margin-right: 14px;
    margin-left: 14px;
    width: auto;
    font-size: 35px;
    overflow: hidden;
    text-overflow: ellipsis; 
    height: 52px;
}

#buttons {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    display: inline-block;
    width: 280px;
    height: auto;
    margin-top: 15px;
    margin-left: 18px;
    font-family: Orbitron, cursive;
}

.calcBtn {
	color: #fff;
	font-weight: 600;	
    border-radius: 8px;
    border: none;
    background-color: #3a3a3a;
    margin: 0 4px 10px 8px;
    height: 40px;
    width: 52px;
    box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #515151;
}

.calcBtn--disabled {
    color: #fff;
	font-weight: 600;	
    border-radius: 8px;
    border: none;
    background-color: #3a3a3a;
    margin: 0 4px 10px 8px;
    height: 40px;
    width: 52px;
    box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #515151;
}

.calcBtn:active {
    transform: translate(0px, 3px);
    box-shadow: none;
}

#topAdjust {
    margin-top: -52px;
}

#equalButton {
    position: absolute;
    margin-left: 8px;
    margin-top: -50px;
    height: 90px;
}

#zeroButton {
    width: 116px;
}

.smallerInput {
    font-size: 24px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 52px;
}

.smallestInput {
    font-size: 16px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 52px;
}


.redBtn {
	font-size: 14px;
	color: black;
    background-color: #a72d45;
    box-shadow: 0px 3px 0px 0px #671c2a;
}

.orangeBtn {
	font-size: 14px;
	color: white;
    background-color: #c26700;
    box-shadow: 0px 3px 0px 0px #794902;
}

.greenBtn {
	font-size: 14px;
	color: white;
    background-color: #2f6800;
    box-shadow: 0px 3px 0px 0px #004409;
}

.calcBtn,
.calcBtn:hover,
.calcBtn:active,
.calcBtn:visited {
    text-decoration: none !important;
    outline: none !important;
}