$form-bg: url("../../public/images/form-bg.jpg");


.contact--title {
    @extend .skills--title;
    border-bottom: 3px solid rgb(0, 162, 255);
    margin-bottom: 30px;
}

.contact--subtitle {
    font-size: 2.0em;
    border-bottom: 2px solid red;
    padding: 8px;
    width: 120px;
    text-align: center
}

.contact--text {
    font-size: 1.6em;
    text-align: justify;
    margin: 12px 0;
}

.form--container {
    color: #fff;
    border: 1px solid #68bcff;
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background: $form-bg;
}

.form--inputs {
    font-size: 1.8em !important;
    width: 100%;
    border: 1px solid #68bcff !important;
    resize: vertical;
    color: #fff !important;
    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #9ed3ff !important;
        font-style: italic !important;
        opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #9ed3ff !important;
        font-style: italic !important;
    }

    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #9ed3ff !important;
        font-style: italic !important;
    }
}

.form--title {
    padding: 14px;
    text-align: center;
}

.form--labels {
    font-weight: 700;
    font-size: 1.8em !important;
}

.contact--socialMediaContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    margin-left: 60px;
}

.contact--socialContainer {
    display: flex;
    justify-content: middle;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
    &:hover {
        > p {
            text-decoration: underline;
        }
    }
}

.contact--socialText {
    font-size: 1.6em;
    vertical-align: middle;
    line-height: 2em;
    text-align: center;
    width: 100%;
}

.contact--socialIcon {
    font-size: 4em;
    margin-right: 30px;
}
