.drum__container {
  margin-top: -1px;
  padding: 1px;
  height: 100vh;
  width: 100vw;
  background: gray;
}

.drum__machine {
  display: flex;
  background: darkgray;
  padding: 30px;
  border: 4px solid orange;
  border-radius: 20px;
  width: 700px;
  margin: 35vh auto 0 auto;
}

.drum__row {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
}

.drum__button {
  background: gray;
  padding: 20px 30px !important;
  height: 80px;
  width: 100px;
  margin: 5px;
  border-radius: 10px;
  vertical-align: middle;
  text-align: center;
  box-shadow: 4px 4px 5px black;
  font-size: 26px;
  font-family: "Londrina Solid", cursive;
}

.drum__flash {
  background: orange;
  box-shadow: 0 0 black;
  transform: translate(2px, 4px);
}

.drum__display {
  margin: 7px auto;
  width: 100%;
  height: 100%;
}

.drum__current {
  background: gray;
  padding: 10px;
  width: 200px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
}

.drum__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.drum__switch input {
  display: none;
}

.drum__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.drum__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .drum__slider {
  background-color: #2196f3;
}

input:focus + .drum__slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .drum__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.drum__sliderContainer {
  width: 60px;
  margin: 0px auto;
}

.drum__volume {
  margin: 20px auto;
  width: 100%;
}

.drum__label {
  text-align: center;
  width: 60px;
  display: block;
  margin-bottom: 2px;
  font-size: 16px;
}
