.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $m-size; 
    
    @media (min-width: $l-breakpoint) {
        flex-direction: row;
    }
}

.input-group__item {
    margin-bottom: $s-size;

    @media (min-width: $l-breakpoint){
        margin: 0 $s-size+0.05 0 0;
    }
}