.landingPageBackground {
	background: url('/images/background.jpeg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.profileImg {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	margin: 30vh auto 30px auto;
	display: block;
	border: 4px solid black;
}

.typed-wrap {
	height: 100px;
}