//Welcome to the !important side of hell
.nav-container {
	width: 70vw;
	margin: 0 auto;
}

.headroom {
	background: $off-white !important;
	border-bottom: 1px solid lightgray !important;
	border-radius: 15px;
}

.navbar {
	margin: 0 auto;
	border: none !important;
	padding-top: 5px;
	min-height: 90px;
	margin-bottom: 0 !important;
	width: 100% !important;
}

.nav-links {
	margin: 0 auto;
}

.navbar-toggler-icon {
	height: 25px;
	width: 25px;
}

#basic-nav-dropdown {
	background: $off-white !important;
	font-family: 'Oswald', sans-serif !important;
	font-size: $font-size-medium;
	text-align: center !important;
	padding: 10px;
}

.nav-item {
	font-family: 'Oswald', sans-serif !important;
	text-decoration: none !important;
	color: black !important;
	font-size: $font-size-medium;
	margin-top: 20px !important;
	text-align: center;
	padding: 10px;
}

.nav-link {	
	margin-top: -10px;
	padding: 10px !important;
}

.dropdown-menu {
	border: 1px solid black !important;
	margin-top: 5px !important;
}

.dropdown-item {
	font-family: 'Oswald', sans-serif !important;
	font-size: $font-size-medium !important;
}

//ACTIVE CLASSES
.active--home {
	border-bottom: 3px solid red;
	padding-bottom: 6px;
}

.active--portfolio {
	border-bottom: 3px solid #87c23f;
	padding-bottom: 6px;
}

.active--certificates {
	border-bottom: 3px solid #68c7b3;
	padding-bottom: 6px;
}

.active--about-me {
	border-bottom: 3px solid #a7e0ef;
	padding-bottom: 6px;
}

.logo {
	margin-top: -10px;
	height: 74px;
}

.navbar-brand {
	margin-top: 4px;
	border: 0px !important;
}

.seperator {
	position: fixed;
	right: 0;
	z-index: -1;
	margin-top: 62px !important;
	border-bottom: 3px solid lightgray;
		width: 76vw;
	@media (max-width: $md-breakpoint) {
		width: 70vw;
	}	
	@media (max-width: 767px) {
		border: 0px !important;
	}
}

.navbar-toggle {
	margin-top: 22px;
	margin-right: 5vw;
}

.navbar-header {
	margin-left: 5vw;
}

.dropdown-item {
	color: black !important;
}