.openNav {
	position: absolute;
	margin-top: -100px;
	left: 48%;
	height: 50px;
	width: 50px;
	font-size: 40px;
}

.nav-container {
	width: 70vw;
	margin: 0 auto;
}

.headroom {
	background: $off-white;
	border-bottom: 1px solid lightgray !important;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.navbar {
	margin: 0 auto;
	border: none !important;
	padding-top: 5px;
	min-height: 90px;
	margin-bottom: 0 !important;
	width: 100% !important;
}

.nav-links {
	margin: 0 auto;
}

.nav-link:hover, .nav-link:focus {
	background: none !important;
}

.navbar-toggler-icon {
	height: 25px;
	width: 25px;
}

#basic-nav-dropdown {
	background: $off-white;
	font-family: 'Oswald', sans-serif !important;
	font-size: $font-size-medium;
	text-align: center !important;
	padding: 10px;
}

.nav-item {
	font-family: 'Oswald', sans-serif !important;
	text-decoration: none !important;
	color: black !important;
	font-size: $font-size-medium;
	text-align: center !important;
	padding: 12px;
}

.nav-link {
	margin-top: -5px;
	text-align: center;
}

.nav-me:hover {
	padding-bottom: 10px;
	border-bottom: 3px solid rgb(0, 162, 255);
}

.dropdown-menu {
	border: 1px solid black !important;
	margin-top: 5px !important;
}

.dropdown-item {
	font-family: 'Oswald', sans-serif !important;
	font-size: $font-size-medium !important;
}

//ACTIVE CLASSES
.active--home {
	margin-left: 6px;
	margin-right: 6px;
	border-bottom: 3px solid red;
	padding-bottom: 16px !important;
}

.nav-home {
	margin-left: 6px;
	margin-right: 6px;
	&:hover {
		border-bottom: 3px solid rgba(255, 0, 0, 0.459);
	}
}

.active--portfolio {
	margin-left: 6px;
	margin-right: 6px;
	border-bottom: 3px solid #509200;
	padding-bottom: 16px;
}

.nav-portfolio {
	margin-left: 6px;
	margin-right: 6px;
	&:hover {
		border-bottom: 3px solid rgba(0, 255, 0, 0.459);
	}
}

.active--certificates {
	margin-left: 6px;
	margin-right: 6px;
	border-bottom: 3px solid #12b894;
	padding-bottom: 16px;
}

.nav-qual {
	margin-left: 6px;
	margin-right: 6px;
	&:hover {
		border-bottom: 3px solid rgb(12, 204, 204);
	}
}

.active--about-me {
	margin-left: 6px;
	margin-right: 6px;
	border-bottom: 3px solid #a7e0ef;
	padding-bottom: 16px;
}

.dropdown-item {
	&:hover {
		background: none;
	}
	&:focus {
		background: none;		
	}
}

.logo {
	margin-top: -10px;
	height: 74px;
}

.navbar-brand {
	margin-top: 4px;
	border: 0px !important;
}

.seperator {
	position: fixed;
	right: 15vw;
	z-index: -1;
	margin-top: 62px;
	-webkit-margin-before: 26px;
	border-bottom: 3px solid lightgray;
	width: 61vw;
	@media (max-width: $md-breakpoint) {
		width: 55vw;
	}
	@media (max-width: 767px) {
		border: 0px !important;
	}
}

.navbar-toggle {
	margin-top: 22px;
	margin-right: 5vw;
}

.navbar-header {
	margin-left: 5vw;
}

.dropdown-item {
	color: black !important;
}

.closeNav {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10;
	height: 50px;
	width: 50px;
	font-size: 40px;
	color: red;
}

.openNav-TTT {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	width: 50px;
	font-size: 50px;
	cursor: pointer;
	padding: 4px;
}

#navbar-TTT {
	position: fixed;
	top: 0;
	height: 200px;
}

#navbar-pomo {
	position: absolute;
	top: 0;
}

.navbar-TTT {
	width: 100vw;
	background: url('/images/navbar-ttt.jpg') no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 1px solid white;
	color: white !important;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.navbar-pomo {
	background: url('/images/bg-pomo.jpg') no-repeat fixed center;
	border-bottom: 1px solid white;
	color: white !important;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.navbar-pomo > div > nav > div > ul > a {
	color: white !important;
}

.navbar-pomo > div > nav > div > ul > li > a {
	color: white !important;
	&:hover {
		background: none !important;
	}
	&:focus {
		background: none !important;
	}
}

.navbar-pomo > div > nav > div > ul > li > div > button:hover {
	background: none !important;
}

.navbar-pomo > div > nav > div > ul > li > div > button > a {
	color: white !important;
}

.navbar-pomo > div > nav > div > ul > li > div > button > div > a {
	color: white !important;
}

.navbar-pomo > div > nav > div > ul > li > #basic-nav-dropdown {
	background: linear-gradient(#132227, #1f393a);
	border: 2px solid white !important;
	background-size: 100vw;
}
.navbar-pomo > div > nav > div > ul > li > #basic-nav-dropdown > button {
	&:focus,
	&:hover {
		background: none !important;
	}
}

.navbar-pomo > div > nav > hr {
	-webkit-margin-before: 26px !important;
	margin-top: 60px;
	border-bottom: 3px solid white;
}

.navbar-pomo > div > nav > button {
	background: white;
	color: black;
	width: 32px;
	height: 32px;
	font-size: 12px;
	padding: 3px;
}
