body {
	background: $off-white;
}

.portfolio--title {
	text-align: center;
	margin: 0 auto;
	padding: 18px;
	border-bottom: 3px solid #87C23F;
	width: 180px;
}

.portfolio--subtitle {
	padding-top: 20px;
	text-align: center;
	width: 400px;
	margin: 0 auto;
}

.grid {
	overflow: hidden !important;
}

.grid-item {
	display: inline-block;
	
}