.skills--title {
	text-align: center;
	margin: 0 auto;
	padding: 18px;
	border-bottom: 3px solid #12b894;
	width: 180px;
}

.skills {
	width: 50%;
	float: right;
	margin: 20px;
}

.progressbar-text {
	text-align: center !important;
}

.skillSet {
	height: auto;
	display: inline-block;
	margin: 0 auto;	
}

.skillContainer {
	width: 80%;
	margin: 0 auto;
	border-radius: 50%;
	cursor: pointer;	
}

.skillCircle {
	width: 100%;
	padding: 0 40px;
}

.skillText {
	text-align: center;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 0 20px;
	width: 60%;
	float: right;
	@media (max-width: 575px) {
		font-size: 13px;
	}
	@media (min-width: 576px) {
		font-size: 12px;
	}
	@media (min-width: 768px) {
		font-size: 11px;
	}
	@media (min-width: 992px) {
		font-size: 11px;
	}
	@media (min-width: 1200px) {
		font-size: 13px;
	}	
}