.tile {
	border: 2px solid black;
	height: 33.333%;
	width: 33.333%;
	padding: 10px;
	display: inline-block;
	float: left;
	background: none;
}

.tile-text {
	font-size: 100px;
	line-height: 100px;
	text-align: center;	
	cursor: pointer;
	height: 100%;
	width: 100%;
}

.tile:first-of-type {
	border-left-color: transparent;
	border-top-color: transparent;
}

.tile:nth-of-type(2) {
	border-top-color: transparent;
}

.tile:nth-of-type(3) {
	border-right-color: transparent;
	border-top-color: transparent;
}

.tile:nth-of-type(4), .tile:nth-of-type(7) {
	border-left-color: transparent;
}

.tile:nth-of-type(6), .tile:nth-of-type(9) {
	border-right-color: transparent;
}

.tile:nth-of-type(7), .tile:nth-of-type(8), .tile:nth-of-type(9), {
	border-bottom-color: transparent;
} 

.tile:nth-child(3n + 1) {
	clear: left;
}

.playerLabel {
	font-size: 15px;
	width: 92px;
}

.grid {
	width: 400px;
	height: 400px;
	margin: 20vh auto 0 auto;
}

.background-TTT {
	width: 100vw !important;
	height: 100vh !important;
	background: url('/images/bg-ttt.jpg') no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	top: 0;	
	z-index: -2;
}

.playerInput {
	border: 1px solid black !important;
	&:focus {
		box-shadow: 0 0 10px rgb(160, 109, 27) !important;
	}
}

.pNameInput {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 28px;
}

.playerLbl {
	line-height: 24px;
	font-size: 18px;
	float: right;
}

.counter {
	width: 50px;
	margin: 0 auto;
	cursor: pointer;
	&:hover {
		border-bottom: 2px solid red;
		margin-bottom: -2px;
	}
}

.counters-container {
	font-size: 16px;
	width: 150px;
	display: inline-block;
	align-content: space-between;
	text-align: center;
	
}

.chooseCounterOne {
	width: 300px;
	margin: 0 auto -20px auto;
}

.chooseCounterTwo {
	width: 300px;
	margin: 0 auto;
}

.onePlayerNames {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 26px;
	text-align: center;
}

.twoPlayerNames {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 46px;
	text-align: center;
}

.setup-TTT {
	width: 50vw;
	height: 40vh;
	margin: 22vh auto;
	padding: 5px;
}

#title-TTT {
	font-size: 40px;
	text-align: center;
}

.subtitle-TTT {
	margin-top: 30px;
	font-size: 22px;
	text-align: center;
}

.subtitle-2-TTT {
	margin-top: 20px;
	font-size: 18px;
	text-align: center;
}

.form-control {
	background: none !important;
}

.playerChoice {
	font-size: 16px !important;
	border: 2px solid rgb(189, 146, 78) !important;
	border-radius: 10px;
	display: inline-block;
	padding: 5px 10px;
	width: 80px !important;
	color: rgb(189, 146, 78) !important;
	text-align: center;
	margin: 0 15px;
	cursor: pointer;
	&:hover {
		background: rgb(189, 146, 78) !important;
		color: white !important;
	}
}

.button-container-TTT {
	width: 220px;
	margin: 40px auto;
}

.button-container {
	width: 220px;
	display: flex;
	justify-content: space-between;
	margin: 20px auto;
}

.chooseDiff {
	text-align: center;
}

.diffBtn {
	width: 70px;
}

.playBtn {
	width: 78px;
	margin: 0 auto;
}
//ScoreBoard
.scores {
	width: 400px;
	margin-bottom: 40px;
	text-align: center;
	display: block;
	height: 200px;
	background: url('http://www.powerpointhintergrund.com/uploads/green-blackboard-background-12.jpg');
	background-size: 100% 100%;
	color: white;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -200px;
}

#replayBtn {
	position: absolute;
	display: block;
	padding: 7px;
	width: 80px;
	left: 50%;
	margin-left: -40px;
	margin-top: 110px;
	float: none;
	border-radius: 10px;
	border: 2px solid black;
}

#resetBtn {
	position: absolute;
	display: block;
	padding: 7px;
	width: 50px;
	left: 50%;
	margin-left: -25px;
	margin-top: 70px;
	float: none;
	border-radius: 10px;
	border: 2px solid black;
}

.scoreNum {
	display: inline-block;
	width: 50px;
	height: 50px;
	font-family: Nothing You Could Do !important;
	font-size: 2.5em;
	font-weight: bold;
}

#p1 {
	display: inline-block;
	width: 180px;
	float: left;
	margin-top: 50px;
}

.p2 {
	margin-top: 50px;
	display: inline-block;
	width: 180px;
	float: right;
}

#player1name {
	font-size: 1.8em;
	font-family: Nothing You Could Do !important;
}

.player2name {
	font-size: 1.8em;
	font-family: Nothing You Could Do !important;
}
