/*
!!General Setup
*/

.twitch {
    background: url('/images/twitch-bg.jpg');
    width: 100%;
    height: 100%;
	font-family: 'Cairo', sans-serif;
}

.footer {
	position: relative;
	bottom: 0;
	height: 100px;
	width: 100%;
	background: #20222B;
}
/*
!!Header
*/

.info-text {
    width: 520px;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
}

.info-subtext {
    width: 520px;
    text-align: center;
    margin: 8px auto;
    font-size: 12px;
}

.twitch-title {
    font-size: 40px;
}

.btn-twitch {
    margin: 5px;
    width: 70px;
}

.buttons-twitch {
    width: 240px;
    margin: 0 auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input {
    display: none;
}

.slider {
    padding-top: -20px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: rgb(243, 33, 33);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(243, 33, 33);
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.mature-text {
    position: relative;
    display: inline-block;
    margin-top: 3px;
}

.mature-switch {
    float: right;
    display: inline-block;
    margin-top: 2px;
}

.mature-filter {
    margin: 10px auto;
    width: 150px;
}

.newStreamer {
    width: 280px;
    margin: 10px auto;
}

#streamerInput {
    display: inline-block;
    width: 200px;
    color: white;
    text-align: center;
}

#streamerBtn {
    display: inline-block;
	margin-left: 5px;
	margin-top: -2px;
}

/*
!!Streamer
*/

.user {
    height: 188px;
    width: 809px;
    margin: 20px auto 0 auto;
	background: #20222B;
	color: white;
}

.user-logo {
    width: auto;
    height: 140px;
    width: 140px;
    margin: 12px 18px 0 18px;
    border-radius: 50%;
    border: 4px solid red;
}

.online-user>.user-image>.user-logo {
    border: 4px solid green;
}

.sub-game {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    margin-right: 20px;
}

.user-name {
    font-weight: 800;
    text-align: center;
    width: 100%;
}

.deleteBtn {
    position: absolute;
    top: 4px;
    right: 328px;
    z-index: 1;
    font-size: 20px !important;
    color: red;
    cursor: pointer;
}

.user-info {
    padding-top: 16px;
    font-size: 14px;
    display: inline-block;
    width: 302px;
    height: 180px;
	vertical-align: center;
	border-right: 4px solid blueviolet;
}

.offline-user-info {
    padding-top: 62px;
    height: 40px;
    font-size: 14px;
    display: inline-block;
    width: 302px;
    height: 180px;
    vertical-align: center;
	border-right: 4px solid blueviolet;
}

.offline-with-info {
    padding-top: 46px;
    font-size: 14px;
    display: inline-block;
    width: 302px;
    height: 180px;
    vertical-align: center;
	border-right: 4px solid blueviolet;
}

.user-image {
    display: inline-block;
    height: 100%;
    width: 180px;
    vertical-align: top;
}

.user-preview {
    display: inline-block;
    height: 100%;
    width: 200px;
    vertical-align: top;
}

.preview-img {
    width: auto;
    height: 100%;
}

.preview-img-mature {
    width: auto;
    height: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.online-user,
.offline-user {
    height: 100%;
    width: 100%;
    border: 4px solid blueviolet;
    position: relative;
}

.hidden {
    display: none;
}

#offline-users {
	margin-bottom: 40px;
}
