$white: #fff;
$purple-twitch: rgb(163, 65, 255);
$check-red: rgb(243, 33, 33);
$black: #000;
$darker-background: #20222b;
$slider-gray: #ccc;

.twitch__container {
  background: url("../../public/images/twitch-bg.jpg");
  font-family: "Cairo", sans-serif;
  height: 100%;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.twitch__footer-container {
  padding-bottom: 60px;
}

.twitch__footer {
  background: $darker-background;
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%;
}

.twitch__header {
  background: $darker-background;
  color: $white;
  padding: $s-size 0;
}

.twitch__header-text {
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  @media (max-width: $md-breakpoint) {
    font-size: 14px;
  }
  @media (max-width: $s-breakpoint) {
    font-size: 12px;
  }
  @media (max-width: $xs-breakpoint) {
    font-size: 10px;
  }
}

.twitch__header-subtext {
  font-size: 15px;
  margin: 8px auto;
  text-align: center;
  @media (max-width: $md-breakpoint) {
    font-size: 13px;
  }
  @media (max-width: $s-breakpoint) {
    font-size: 11px;
  }
  @media (max-width: $xs-breakpoint) {
    font-size: 10px;
  }
}

.twitch__title {
  color: $purple-twitch;
  font-size: 40px;
  @media (max-width: $md-breakpoint) {
    font-size: 38px;
  }
  @media (max-width: $s-breakpoint) {
    font-size: 36px;
  }
  @media (max-width: $xs-breakpoint) {
    font-size: 34px;
  }
}

.twitch__button {
  margin: 5px;
  width: 70px;
}

.twitch__buttons-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.twitch__input-container {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 100%;
}

#streamer-input {
  color: $white;
  display: inline-flex;
  flex-shrink: 2;
  font-size: 12px;
  margin-right: 10px;
  max-width: 200px;
  text-align: center;
  @media (max-width: $s-breakpoint) {
    font-size: 11px;
  }
  @media (max-width: $xs-breakpoint) {
    font-size: 10px;
  }

  &::placeholder {
    color: $white;
  }
}

#streamer-btn {
  display: inline-flex;
  flex-shrink: 1;
  font-size: 12px;
  @media (max-width: $s-breakpoint) {
    font-size: 11px;
  }
  @media (max-width: $xs-breakpoint) {
    font-size: 10px;
  }
}

#offline-users {
  margin-bottom: 40px;
}

.hidden {
  display: none;
  visibility: hidden;
}

// Mature switch
.twitch__mature-text {
  margin-right: 5px;
  margin-top: 7px;
  @media (max-width: $md-breakpoint) {
    font-size: 14px;
  }
}

.twitch__mature-switch {
  margin-left: 5px;
  margin-top: 7px;
  @media (max-width: $md-breakpoint) {
    margin-top: 4px;
  }
}

.twitch__mature-container {
  display: flex;
  justify-content: center;
  justify-items: start;
  margin: 10px auto;
  width: 200px;
}

.twitch__switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 40px;
}

.twitch__switch > input {
  display: none;
}

.twitch__slider {
  -webkit-transition: 0.4s;
  background-color: $slider-gray;
  bottom: 0;
  cursor: pointer;
  left: 0;
  padding-top: -20px;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;

  &:before {
    -webkit-transition: 0.4s;
    background-color: $white;
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 16px;
  }
}

#check {
  &:checked + .twitch__slider {
    background-color: $check-red;

    &:before {
      -ms-transform: translateX(16px);
      -webkit-transform: translateX(16px);
      transform: translateX(16px);
    }
  }

  &:focus + .twitch__slider {
    box-shadow: 0 0 1px $check-red;
  }
}

.twitch__slider,
.twitch__round {
  border-radius: 34px;

  &:before {
    border-radius: 50%;
  }
}
