[class*="col-"] {
  background-clip: padding-box !important;
  border: 8px solid transparent !important;
  box-shadow: none !important;
}

.headroom {
  background: $off-white;
  border-bottom: 1px solid lightgray !important;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.portfolio__container {
  width: 80%;
  margin: 0 auto 30px;

  @media (max-width: $xs-breakpoint) {
    width: 90vw;
    margin: 0 auto 20px;
  }
}

.portfolio__title {
  text-align: center;
  margin: 0 auto 20px;
  padding: 18px;
  border-bottom: 3px solid #87c23f;
  width: 180px;

  @media (max-width: $xs-breakpoint) {
    font-size: 20px;
    padding: 10px;
    width: 120px;
    margin: 0 auto 10px;
    border-bottom: 2px solid #87c23f;
  }
}

.portfolio__text {
  margin-top: 10px;
  text-align: justify;
  font-size: 17px;

  @media (max-width: $s-breakpoint) {
    font-size: 15px;
  }

  @media (max-width: $xs-breakpoint) {
    font-size: 13px;
  }
}
