$main-blue: rgb(36, 9, 156);

.portfolio__main-container {
  min-height: 100vw;
  max-width: 100vw;
}

[class*="col-"] {
  background-clip: padding-box !important;
  border: 8px solid transparent !important;
  box-shadow: none !important;
}

.portfolio__container {
  width: 80%;
  margin: 0 auto 30px;

  @media (max-width: $xs-breakpoint) {
    width: 90vw;
    margin: 0 auto 20px;
  }
}

.portfolio__title {
  text-align: center;
  margin: 0 auto 20px;
  font-weight: bold;
  color: $main-blue;
  padding: 40px 20px 20px;

  @media (max-width: $xs-breakpoint) {
    font-size: 20px;
    margin: 0 auto 10px;
  }
}

.portfolio__text {
  margin-top: 10px;
  text-align: justify;
  font-size: 17px;

  @media (max-width: $s-breakpoint) {
    font-size: 15px;
  }

  @media (max-width: $xs-breakpoint) {
    font-size: 13px;
  }
}
