$main-blue: rgb(36, 9, 156);

.projects__grid-container {
  margin: 0 20px;
  padding-bottom: 40px;
}

[class*="projects__tile col-"] {
  background-clip: padding-box !important;
  border: 8px solid transparent !important;
  box-shadow: none !important;
}

.projects__container {
  width: 80%;
  margin: 0 auto 30px;
  font-family: Roboto, sans-serif;
  @media (max-width: $xs-breakpoint) {
    width: 90vw;
    margin: 0 auto 20px;
  }
}

.projects__title {
  text-align: center;
  margin: 0 auto 20px;
  font-weight: bold;
  color: $main-blue;
  padding: 40px 20px 20px;

  @media (max-width: $xs-breakpoint) {
    font-size: 20px;
    margin: 0 auto 10px;
  }
}

.projects__text {
  margin-top: 10px;
  text-align: justify;

  @media screen and (min-width: 280px) {
    font-size: 13px;
  }

  @media screen and (min-width: 580px) {
    font-size: 14px;
  }

  @media screen and (min-width: 880px) {
    font-size: 15px;
  }

  @media screen and (min-width: 1080px) {
    font-size: 16px;
  }
}

.projects__grid-border {
  width: 100%;
  height: 100%;
}

.projects__tile {
  cursor: pointer !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 400px;
  overflow: hidden;

  img {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    left: 50%;
    position: relative;
    height: 100%;
  }

  @media (max-width: 564px) {
    height: 200px;
  }

  &:hover img {
    opacity: 0.4;
    filter: grayscale(100%);
  }

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 34px;
    color: #000;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #fff;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    text-align: center;

    @media (max-width: $md-breakpoint) {
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 26px;
    }

    @media (max-width: $s-breakpoint) {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 22px;
    }

    @media (max-width: $xs-breakpoint) {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 18px;
    }
  }

  .projects__source-button {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);

    @media screen and (max-width: $s-breakpoint) {
      bottom: 0;
    }
  }

  .projects__tile--title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 32%;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    color: white;

    @media (max-width: $md-breakpoint) {
      font-size: 17px;
    }

    @media (max-width: $s-breakpoint) {
      font-size: 14px;
    }

    @media (max-width: $xs-breakpoint) {
      font-size: 12px;
    }
    transform: translate(-50%, -50%) scale(0);
    transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }

  .projects__tile--subtitle {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 68%;
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
    color: white;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);

    @media (max-width: $md-breakpoint) {
      font-size: 12px;
    }

    @media (max-width: $s-breakpoint) {
      font-size: 10px;
    }

    @media (max-width: $xs-breakpoint) {
      font-size: 8px;
    }
  }

  :hover i {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  :hover .projects__tile--title,
  :hover .projects__tile--subtitle,
  :hover .projects__source-button {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: all 500ms cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: all 500ms cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: all 500ms cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: all 500ms cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.4);
    -moz-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.4);
    -o-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.4);
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.4);
  }

  :hover .projects__tile--subtitle {
    transition-delay: 0.4s;
  }

  :hover .projects__tile--title {
    transition-delay: 0.2s;
  }

  :hover .projects__source-button {
    transition-delay: 0.1s;
  }

  * {
    box-sizing: border-box;
    transition: all 0.35s ease-in-out;
  }
}
