$home-active: rgb(255, 0, 0);
$home-hover: rgba(255, 0, 0, 0.6);
$portfolio-active: rgb(80, 146, 0);
$portfolio-hover: rgba(80, 146, 0, 0.6);
$skills-active: rgb(18, 184, 148);
$skills-hover: rgba(18, 184, 148, 0.6);
$about-me-hover: rgb(0, 162, 255);
$about-me-active: rgba(0, 162, 255, 0.6);

.nav__container {
  width: 100%;
  padding: 0 15vw;
  z-index: 3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  @media (max-width: 767px) {
    padding: 0 40px;
  }
}

.headroom {
  background: #ebecf0;
}

%nav__link {
  cursor: pointer;
  border-bottom: 3px solid transparent;
  margin: 0 6px;
  padding: 15px;
  z-index: 3;

  &:hover {
    text-decoration: none;
  }

  @media (max-width: 767px) {
    padding: 8px;
  }

  font-family: "Oswald", sans-serif;
  font-size: $font-size-medium;
  text-align: center;
  text-decoration: none;

  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.nav__collapsed {
  z-index: 4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav__toggle {
  z-index: 3 !important;
}

%nav__toggle {
  &:focus {
    outline: none;
  }
  border: 1px solid;
}

.navbar-toggler {
  margin-top: 8px !important;

  @media (max-width: 767px) {
    margin-top: 0 !important;
  }
}

.nav__toggle--black {
  @extend %nav__toggle;
  border-color: black !important;

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
}

.nav__toggle--white {
  @extend %nav__toggle;
  border-color: white !important;

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
}
%nav__active {
  @extend %nav__link;

  @media (max-width: 767px) {
    padding-bottom: 10px;
  }
}

.nav__home {
  @extend %nav__link;

  &:hover {
    border-bottom: 3px solid $home-hover;
  }
}

.nav__home--active {
  @extend %nav__active;
  border-bottom: 3px solid $home-active;
  &:hover {
    border-bottom: 3px solid $home-hover;
  }
}

.nav__portfolio {
  @extend %nav__link;

  &:hover {
    border-bottom: 3px solid $portfolio-hover;
  }
}

.nav__portfolio--active {
  @extend %nav__active;
  border-bottom: 3px solid $portfolio-active;
  &:hover {
    border-bottom: 3px solid $portfolio-hover;
  }
}

.nav__contact {
  @extend %nav__link;

  &:hover {
    border-bottom: 3px solid $skills-hover;
  }
}

.nav__contact--active {
  @extend %nav__active;
  border-bottom: 3px solid $skills-active;
  &:hover {
    border-bottom: 3px solid $skills-hover;
  }
}

.nav__about-me {
  @extend %nav__link;

  &:hover {
    border-bottom: 3px solid $about-me-hover;
  }
}

.nav__about-me--active {
  @extend %nav__active;
  border-bottom: 3px solid $about-me-active;
  &:hover {
    border-bottom: 3px solid $about-me-hover;
  }
}

.nav__logo {
  height: 74px;

  @media (max-width: 767px) {
    height: 52px;
    padding: 5px 0;
  }
}

.nav__separator {
  height: 3px;
  background: lightgray;
  position: absolute;
  right: 0;
  left: 20%;
  z-index: 3;
  top: 68px;

  @media (max-width: 767px) {
    height: 0;
  }
}

.nav__close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 30px;

  @media (max-width: 767px) {
    font-size: 20px;
    right: 20px;
    top: 22px;
  }
}
