$green: rgb(1, 141, 1);
$red: rgb(165, 0, 0);
$yellow: rgb(168, 168, 26);
$blue: rgb(0, 0, 175);

/*
!CONTAINERS
*/

.simonBackground {
  margin-top: -1px;
  padding-top: 1px;
  background: url("../../public/images/simon-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.simonSays {
  width: 400px;
  margin: 20vh auto;

  @media (max-width: $md-breakpoint) {
    width: 320px;
  }

  @media (max-width: $s-breakpoint) {
    width: 200px;
  }
}

.centerControls {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background: white;
  border: 8px solid black;
  left: 100px;
  top: 100px;
  position: relative;

  @media (max-width: $md-breakpoint) {
    width: 160px;
    height: 160px;
    left: 80px;
    top: 80px;
    border: 4px solid black;
  }

  @media (max-width: $s-breakpoint) {
    width: 100px;
    height: 100px;
    left: 50px;
    top: 50px;
    border: 4px solid black;
  }
}

.simonContainer {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  position: absolute;

  @media (max-width: $md-breakpoint) {
    margin-top: 16px;
  }

  @media (max-width: $s-breakpoint) {
    margin-top: 12px;
  }
}

.simonBtnContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  margin-top: 80px;

  @media (max-width: $md-breakpoint) {
    margin-top: 60px;
  }

  @media (max-width: $s-breakpoint) {
    margin-top: 32px;
  }
}

.onSwitchContainer {
  width: 100%;
  display: flex;
  position: absolute;
  margin-top: 140px;
  margin-left: 46px;

  @media (max-width: $md-breakpoint) {
    margin-top: 120px;
    margin-left: 38px;
  }

  @media (max-width: $s-breakpoint) {
    margin-top: 72px;
    margin-left: 12px;
  }
}

/*
!ON-OFF TOGGLE
*/

.switchSimon {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;

  @media (max-width: $md-breakpoint) {
    width: 30px;
    height: 14px;
  }
}

.switchSimon .onToggle {
  display: none;
}

.sliderSimon {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    @media (max-width: $md-breakpoint) {
      height: 10px;
      width: 10px;
      left: 2px;
      top: 2px;
    }
  }
}

.onToggle:checked + .sliderSimon {
  background-color: red;
}

.onToggle:focus + .sliderSimon {
  box-shadow: 0 0 1px red;
}

.onToggle:checked + .sliderSimon::before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/*
!LIGHTS & Buttons
*/

.inactiveLight {
  border: 2px solid rgb(36, 36, 36);
  background: rgb(43, 0, 0);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-left: 7px;

  @media (max-width: $s-breakpoint) {
    height: 6px;
    width: 6px;
    border: 1px solid rgb(36, 36, 36);
    margin-left: 5px;
    margin-top: 4px;
    margin-bottom: -4px;
  }
}

.activeLight {
  @extend .inactiveLight;
  background: red;

  @media (max-width: $s-breakpoint) {
    margin-bottom: -2px;
  }
}

.description {
  margin-top: 2px;
  text-align: center;

  @media (max-width: $md-breakpoint) {
    font-size: 10px;
  }

  @media (max-width: $s-breakpoint) {
    font-size: 7px;
  }
}

.simonBtns {
  border: 3px solid rgb(36, 36, 36);
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0 3px 5px #000;
  -moz-box-shadow: 0 3px 5px #000;
  -webkit-box-shadow: 0 3px 5px #000;
  margin-top: 5px;

  @media (max-width: $s-breakpoint) {
    height: 16px;
    width: 16px;
    border: 2px solid rgb(36, 36, 36);
  }
}

.startBtn {
  @extend .simonBtns;
  background-color: red;
}

.startBtn:active {
  position: relative;
  top: 2px;
  color: red;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.startBtnPressed {
  @extend .startBtn;
  position: relative;
  top: 2px;
  color: red;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.strictBtn {
  @extend .simonBtns;
  background-color: yellow;
}

.strictBtn:active {
  position: relative;
  top: 2px;
  color: yellow;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.strictBtnPressed {
  @extend .strictBtn;
  position: relative;
  top: 2px;
  color: yellow;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/*
!SCORES
*/

.score {
  border: 3px solid rgb(36, 36, 36);
  background: rgb(68, 0, 0);
  color: rgb(114, 0, 0);
  font-family: "Press Start 2P", cursive;
  border-radius: 10px;
  width: 54px;
  height: 36px;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;

  @media (max-width: $md-breakpoint) {
    margin-top: 14px;
    width: 46px;
    height: 32px;
    font-size: 12px;
    border: 2px solid rgb(36, 36, 36);
  }

  @media (max-width: $s-breakpoint) {
    margin-top: 8px;
    width: 30px;
    height: 26px;
    font-size: 8px;
  }
}

.activeScore {
  @extend .score;
  color: red;
}

/*
!TEXT
*/
.simonTitle {
  font-size: 40px;
  vertical-align: top;
  text-align: center;
  display: inline-block;

  @media (max-width: $md-breakpoint) {
    font-size: 30px;
  }

  @media (max-width: $s-breakpoint) {
    font-size: 18px;
  }
}

.copyright {
  margin-top: 6px;
  font-size: 20px;
  display: inline-block;

  @media (max-width: $md-breakpoint) {
    margin-top: 4px;
    font-size: 15px;
  }

  @media (max-width: $s-breakpoint) {
    margin-top: 2px;
    font-size: 10px;
  }
}

.combination {
  padding-top: 30px;
}

.toggleText {
  padding: 2px 4px 2px 4px;
  font-size: 12px;

  @media (max-width: $md-breakpoint) {
    padding: 0 4px 0 4px;
    font-size: 10px;
  }

  @media (max-width: $s-breakpoint) {
    padding: 0 4px;
    font-size: 8px;
  }
}

/*
!SIMON BUTTONS
*/
.circle {
  height: 200px;
  width: 200px;
  cursor: pointer;

  @media (max-width: $md-breakpoint) {
    width: 160px;
    height: 160px;
  }

  @media (max-width: $s-breakpoint) {
    width: 100px;
    height: 100px;
  }
}

.green {
  float: left;
  border-top-left-radius: 100%;
  border-left: 8px solid black;
  border-top: 8px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  background: $green;

  @media (max-width: $md-breakpoint) {
    border-left: 4px solid black;
    border-top: 4px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }
}

.flash-green {
  @extend .green;
  background: lighten($green, 20%);
}

.red {
  float: right;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 8px solid black;
  border-top: 8px solid black;
  border-top-right-radius: 100%;
  background: $red;

  @media (max-width: $md-breakpoint) {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 4px solid black;
    border-top: 4px solid black;
  }
}

.flash-red {
  @extend .red;
  background: lighten($red, 20%);
}

.yellow {
  float: left;
  border-top: 4px solid black;
  border-bottom: 8px solid black;
  border-left: 8px solid black;
  border-right: 4px solid black;
  border-bottom-left-radius: 100%;
  background: $yellow;

  @media (max-width: $md-breakpoint) {
    border-top: 2px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 2px solid black;
  }
}

.flash-yellow {
  @extend .yellow;
  background: lighten($yellow, 20%);
}

.blue {
  float: right;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
  border-left: 4px solid black;
  border-top: 4px solid black;
  border-bottom-right-radius: 100%;
  background: $blue;

  @media (max-width: $md-breakpoint) {
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
  }
}

.flash-blue {
  @extend .blue;
  background: lighten($blue, 20%);
}
