$play-green: #0d8a2c;
$stop-red: #cc1515;

.pomodoro__background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  font-family: "Lobster Two", cursive !important;
  color: white;
  position: fixed;
  top: 0;
}

.pomodoro__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 5vw 0;
}

.pomodoro__title {
  margin: 0 auto;
  text-align: center;
  font-size: 80px;

  @media (max-width: $md-breakpoint) {
    font-size: 60px;
  }

  @media (max-width: $xs-breakpoint) {
    font-size: 40px;
  }
}

.pomodoro__subtitle {
  text-align: center;
  font-size: 26px;
  margin: 40px;

  @media (max-width: $md-breakpoint) {
    font-size: 20px;
    margin: 12px;
  }

  @media (max-width: $xs-breakpoint) {
    font-size: 14px;
  }
}

%pomodoro__button {
  width: 60px;
  height: 60px;
  cursor: pointer;
  font-size: 60px;
  display: inline-block;
  z-index: 2;
  margin: 0 3px;

  @media (max-width: $md-breakpoint) {
    width: 50px;
    height: 50px;
    font-size: 50px;
  }

  @media (max-width: $s-breakpoint) {
    width: 40px;
    height: 40px;
    font-size: 40px;
  }

  @media (max-width: $xs-breakpoint) {
    width: 30px;
    height: 30px;
    font-size: 30px;
  }
}

.pomodoro__button--start {
  @extend %pomodoro__button;
  color: $play-green;

  &:hover {
    color: lighten($play-green, 10);
  }

  &:focus {
    outline: none;
  }
}

.pomodoro__button--stop {
  @extend %pomodoro__button;
  color: $stop-red;

  &:hover {
    color: lighten($stop-red, 10);
  }

  &:focus {
    outline: none;
  }
}

.pomodoro__timer-container {
  height: 320px;
  width: 320px;
  margin: 0 auto;

  @media (max-width: $s-breakpoint) {
    height: 260px;
    width: 260px;
  }

  @media (max-width: $xs-breakpoint) {
    height: 220px;
    width: 220px;
  }
}

.pomodoro__buttons-container {
  display: flex;
  justify-content: center;
  position: relative;
  left: 0;
  right: 0;
  margin-top: -65%;
}

.pomodoro__circle-container {
  width: 400px;
  height: auto;
}

.pomodoro__countdown-container {
  text-align: center;
  font-size: 30px;
}

%pomodoro__countdown-text {
  font-size: 34px;

  @media (max-width: $md-breakpoint) {
    font-size: 30px;
  }

  @media (max-width: $s-breakpoint) {
    font-size: 24px;
  }
}

.pomodoro__countdown-text--active {
  @extend %pomodoro__countdown-text;
  color: #fff;
}

.pomodoro__countdown-text--inactive {
  @extend %pomodoro__countdown-text;
  color: rgba(191, 191, 191, 0.3);
}
