$play-green: #0d8a2c;
$stop-red: #cc1515;

.pomodoro__background {
  background: url("../../public/images/bg-pomo.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  font-family: "Lobster Two", cursive !important;
  color: white;
  position: fixed;
  top: 0;
}

.pomodoro__container {
  height: 100%;
}

.pomodoro__title {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 120px;
  font-size: 80px;

  @media (max-width: $md-breakpoint) {
    font-size: 60px;
  }

  @media (max-width: $s-breakpoint) {
    font-size: 50px;
  }

  @media (max-width: $xs-breakpoint) {
    font-size: 40px;
  }
}

.pomodoro__subtitle {
  padding: 20px 40px 40px;
  text-align: center;
}

.pomodoro__button--start {
  width: 60px;
  height: 60px;
  display: inline-block;
  cursor: pointer;
  font-size: 60px;
  color: $play-green;
  z-index: 2;

  &:hover {
    color: lighten($play-green, 10);
  }

  &:focus {
    outline: none;
  }
}

.pomodoro__button--stop {
  width: 60px;
  height: 60px;
  cursor: pointer;
  font-size: 60px;
  color: $stop-red;
  z-index: 2;

  &:hover {
    color: lighten($stop-red, 10);
  }

  &:focus {
    outline: none;
  }
}

.pomodoro__buttons-container {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  margin: 130px auto 0;
}

.pomodoro__circle-container {
  width: 340px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  padding-bottom: 40px;
}

.pomodoro__countdown-container {
  text-align: center;
  font-size: 30px;
}

.pomodoro__countdown-text {
  color: #fff;
}

.pomodoro__countdown-text--inactive {
  color: rgba(191, 191, 191, 0.3);
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 220px) {
  .pomodoro__title {
    font-size: 4em;
  }

  .pomodoro__subtitle {
    font-size: 1em;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .pomodoro__subtitle {
    font-size: 1.1em;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .pomodoro__title {
    font-size: 6em;
  }

  .pomodoro__subtitle {
    font-size: 1.4em;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .pomodoro__title {
    font-size: 7em;
  }

  .pomodoro__subtitle {
    font-size: 1.6em;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .pomodoro__title {
    font-size: 9em;
  }

  .pomodoro__subtitle {
    font-size: 2em;
  }
}
