.tile {
	display: inline-block;
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;
	cursor: pointer;
	font-size: 40px;
	border: 4px solid black;
}

.grid {
	margin: 0 auto;
}

.grid-9, .grid-16, .grid-25 {
	padding-top: 20px;
	width: auto;
    text-align: center;
    margin: auto;
	clear: both;
	border: 2px solid black;
}

.grid-9 > .tile:nth-child(3n+1){
	clear: left;
}

.grid-16 > .tile:nth-child(4n+1) {
	clear: left;
}

.grid-25 > .tile:nth-child(5n+1) {
	clear: left;
}

.welcomeScreen {
	width: 372px;
	height: 372px;
	padding-top: 20px;
	margin: auto;
	clear: both;
	background: blue;
	text-align: center;
}