.header {
  background: $off-black-indecision;
  color: white;
  margin-bottom: $xl-size;
  padding: $m-size 0;
}

.header__title {
  font-size: $l-size;
  font-weight: bold;
  margin: 0;
}

.header__subtitle {
  color: $off-white-indecision;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}

@media (max-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $m-size;
  }
}