* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: 'Oswald', sans-serif !important;
  font-size: 1.6rem;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.button, .button__secondary {
  background: #1c88bf;
  border: none;
  color: white;
  display: inline-block;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1;
  padding: 1.2rem;
  text-decoration: none;
}

.button__link {
  text-decoration: none !important;
}

.button__secondary {
  background: #888;
  margin-top: -58px;
  display: block;
  right: 0;
  position: absolute;
  z-index: 1;
}

.button__container {
  max-width: 77rem;
  margin: 0 auto;
}

.button__enter {
  width: 200px;
  border: 2px solid grey;
  color: grey;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  font-size: 20px !important;
  padding: 10px 0px !important;
  font-family: 'Oswald', sans-serif !important;
  margin-top: 20px;
}

.button__enter:hover {
  color: #9e9e9e;
}

@media (max-width: 1280px) {
  .button__enter {
    font-size: 30px;
    width: 160px;
  }
}

@media (max-width: 980px) {
  .button__enter {
    width: 140px;
    font-size: 22px !important;
    padding: 8px !important;
  }
}

@media (max-width: 740px) {
  .button__enter {
    width: 120px;
    font-size: 17px !important;
    padding: 6px !important;
  }
}

@media (max-width: 480px) {
  .button__enter {
    width: 100px;
    font-size: 12px !important;
    padding: 4px !important;
  }
}

.header {
  background: #364051;
}

.header__title {
  color: white;
  text-decoration: none;
}

.header__title h1 {
  margin: 0;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0;
}

.background {
  background: #f7f7f7;
}

.content-container {
  width: 80vw;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background: white;
}

.left-container {
  width: 40vw;
  float: left;
  background: white;
  padding: 20px;
}

.carousel-container {
  width: 100%;
  display: block;
  margin: 0 auto;
  border: 4px solid black;
  margin: 20px;
}

.legend {
  width: 400px !important;
  margin-left: 50% !important;
}

.grid-container {
  overflow: hidden !important;
  padding: 30px;
}

.page-header {
  background: #f7f7f7;
  margin-bottom: 3.2rem;
  padding: 3.2rem 0;
}

.page-header__actions {
  margin-top: 1.6rem;
}

.page-header__title {
  font-weight: 300;
  margin: 0;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

@media (min-width: 1280px) {
  .input-group {
    flex-direction: row;
  }
}

.input-group__item {
  margin-bottom: 1.2rem;
}

@media (min-width: 1280px) {
  .input-group__item {
    margin: 0 1.25rem 0 0;
  }
}

.text-input, .select, .textarea {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: 2rem;
  font-weight: 300;
  padding: 1.2rem;
}

.text-input--search {
  width: 28rem;
}

.textarea {
  height: 10rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > * {
  margin-bottom: 1.6rem;
}

.form__error {
  margin: 0 0 1.6rem 0;
  font-style: italic;
}

@media (min-width: 980px) {
  .show-for-mobile {
    display: none;
  }
}

@media (max-width: 979px) {
  .show-for-desktop {
    display: none;
  }
}

.list-header {
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  color: #666;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1.6rem;
}

.list-body {
  margin-bottom: 1.6rem;
}

@media (min-width: 1280px) {
  .list-body {
    margin-bottom: 3.2rem;
  }
}

.list-item {
  border: 1px solid #e5e5e5;
  border-top: none;
  color: #333;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  text-decoration: none;
  transition: background .6s ease;
}

.list-item:hover {
  background: #f7f7f7;
}

@media (min-width: 1280px) {
  .list-item {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.6rem;
  }
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__subtitle {
  color: #666;
  font-size: 1.4rem;
}

.list-item__data {
  margin: 1.2rem 0 0 0;
}

@media (min-width: 1280px) {
  .list-item__data {
    margin: 0;
    padding-left: 1.2rem;
  }
}

.list-item--message {
  align-items: center;
  color: #666;
  justify-content: center;
  padding: 1.6rem;
}

.list-item--message:hover {
  background: none;
}

.loader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loader__image {
  height: 6rem;
  width: 6rem;
}

.landingPageBackground {
  background: url("/images/bg.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.meImg {
  width: 260px;
  border-radius: 50%;
  border: 6px solid grey;
  margin: 0 auto;
  display: block;
  margin-top: 25vh;
  overflow: hidden;
}

.type-wrap {
  padding-top: 45vh;
}

.typed {
  color: #333333;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
  font-size: 40px;
}

@media (max-width: 1280px) {
  .typed {
    font-size: 30px;
  }
}

@media (max-width: 980px) {
  .typed {
    font-size: 22px;
  }
}

@media (max-width: 740px) {
  .typed {
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  .typed {
    font-size: 12px;
  }
}

.typed-cursor {
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.closeNav {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  height: 50px;
  width: 50px;
  font-size: 40px;
  color: red;
}

.nav-container {
  width: 70vw;
  margin: 0 auto;
}

.headroom {
  background: #f7f7f7;
  border-bottom: 1px solid lightgray !important;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.navbar {
  margin: 0 auto;
  border: none !important;
  padding-top: 5px;
  min-height: 90px;
  margin-bottom: 0 !important;
  width: 100% !important;
}

.nav-links {
  margin: 0 auto;
}

.navbar-toggler-icon {
  height: 25px;
  width: 25px;
}

#basic-nav-dropdown {
  background: #f7f7f7;
  font-family: 'Oswald', sans-serif !important;
  font-size: 1.7rem;
  text-align: center !important;
  padding: 10px;
}

.nav-item {
  font-family: 'Oswald', sans-serif !important;
  text-decoration: none !important;
  color: black !important;
  font-size: 1.7rem;
  text-align: center !important;
  padding: 12px;
}

.nav-link {
  margin-top: -5px;
  text-align: center;
}

.dropdown-menu {
  border: 1px solid black !important;
  margin-top: 5px !important;
}

.dropdown-item {
  font-family: 'Oswald', sans-serif !important;
  font-size: 1.7rem !important;
}

.active--home {
  border-bottom: 3px solid red;
  padding-bottom: 6px;
}

.active--portfolio {
  border-bottom: 3px solid #87c23f;
  padding-bottom: 6px;
}

.active--certificates {
  border-bottom: 3px solid #68c7b3;
  padding-bottom: 6px;
}

.active--about-me {
  border-bottom: 3px solid #a7e0ef;
  padding-bottom: 6px;
}

.logo {
  margin-top: -10px;
  height: 74px;
}

.navbar-brand {
  margin-top: 4px;
  border: 0px !important;
}

.seperator {
  position: fixed;
  right: 15vw;
  z-index: -1;
  margin-top: 62px;
  border-bottom: 3px solid lightgray;
  width: 61vw;
}

@media (max-width: 980px) {
  .seperator {
    width: 55vw;
  }
}

@media (max-width: 767px) {
  .seperator {
    border: 0px !important;
  }
}

.navbar-toggle {
  margin-top: 22px;
  margin-right: 5vw;
}

.navbar-header {
  margin-left: 5vw;
}

.dropdown-item {
  color: black !important;
}

body {
  background: #f7f7f7;
}

.portfolio--title {
  text-align: center;
  margin: 0 auto;
  padding: 18px;
  border-bottom: 3px solid #87C23F;
  width: 180px;
}

.portfolio--subtitle {
  padding-top: 20px;
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.grid {
  overflow: hidden !important;
}

.grid-item {
  display: inline-block;
}

.pomodoro {
  background: url("/images/bg-pomo.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Lobster Two', cursive !important;
  color: white;
  position: fixed;
  top: 0;
  z-index: -2;
}

#navbar-pomo {
  position: absolute;
  top: 0;
}

.navbar-pomo {
  background: url("/images/bg-pomo.jpg") no-repeat fixed center;
  border-bottom: 1px solid white;
  color: white !important;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.navbar-pomo > div > nav > div > ul > a {
  color: white !important;
}

.navbar-pomo > div > nav > div > ul > li > a {
  color: white !important;
}

.navbar-pomo > div > nav > div > ul > li > a:hover {
  background: none !important;
}

.navbar-pomo > div > nav > div > ul > li > a:focus {
  background: none !important;
}

.navbar-pomo > div > nav > div > ul > li > div > button:hover {
  background: none !important;
}

.navbar-pomo > div > nav > div > ul > li > div > button > a {
  color: white !important;
}

.navbar-pomo > div > nav > div > ul > li > div > button > div > a {
  color: white !important;
}

.navbar-pomo > div > nav > div > ul > li > #basic-nav-dropdown {
  background: linear-gradient(#132227, #1f393a);
  border: 2px solid white !important;
  background-size: 100vw;
}

.navbar-pomo > div > nav > div > ul > li > #basic-nav-dropdown > button:focus, .navbar-pomo > div > nav > div > ul > li > #basic-nav-dropdown > button:hover {
  background: none !important;
}

.navbar-pomo > div > nav > hr {
  margin-top: 60px !important;
  border-bottom: 3px solid white;
}

.navbar-pomo > div > nav > button {
  background: white;
  color: black;
  width: 32px;
  height: 32px;
  font-size: 12px;
  padding: 3px;
}

.openNav {
  position: absolute;
  margin-top: -100px;
  left: 48%;
  height: 50px;
  width: 50px;
  font-size: 40px;
}

#title {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 120px;
}

.arrows {
  display: inline-block;
  width: 80px;
  margin-top: -50px;
}

.times {
  text-align: center;
  font-size: 40px;
  margin-bottom: -20px;
}

.num {
  display: inline-block;
  width: 110px;
  text-align: center;
  margin-top: 10px;
}

#goBtn {
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  cursor: pointer;
  z-index: 99999999;
}

.buttons {
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
}

#stopBtn {
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  cursor: pointer;
  z-index: 99999999;
}

#circle-container {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  padding-bottom: 40px;
}

#countdown {
  text-align: center;
  font-size: 30px;
}

#subtitle {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 220px) {
  .times {
    font-size: 1.6em;
  }
  .num {
    font-size: 3.8em;
  }
  .arrows {
    width: 60px;
    height: auto;
  }
  #title {
    font-size: 4em;
  }
  #subtitle {
    font-size: 1em;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .times {
    font-size: 1.6em;
  }
  .num {
    font-size: 3.8em;
  }
  #subtitle {
    font-size: 1.1em;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .times {
    font-size: 1.5em;
  }
  .num {
    font-size: 4.6em;
  }
  .arrows {
    width: 80px;
    height: auto;
  }
  #title {
    font-size: 6em;
  }
  #subtitle {
    font-size: 1.4em;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .times {
    font-size: 1.7em;
  }
  .num {
    font-size: 5em;
  }
  .arrows {
    width: 80px;
    height: auto;
  }
  #title {
    font-size: 7em;
  }
  #subtitle {
    font-size: 1.6em;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .times {
    font-size: 2.4em;
  }
  .num {
    font-size: 5.6em;
  }
  .arrows {
    width: 90px;
    height: auto;
  }
  #title {
    font-size: 9em;
  }
  #subtitle {
    font-size: 2em;
  }
}

/*!
 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.2.1
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover
 * Hover.css Copyright Ian Lunn 2017. Generated with Sass.
 */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.hvr-pulse-grow:hover,
.hvr-pulse-grow:focus,
.hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.tile {
  margin: 10px;
  border: 2px solid black;
  height: 100px;
  width: 100px;
  display: inline-block;
  float: left;
  background: white;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}

.tile:nth-child(3n + 1) {
  clear: left;
}

.playerLabel {
  font-size: 15px;
  width: 92px;
}

.grid {
  background: brown;
  border: 2px solid black;
  width: 374px;
  padding: 5px;
  margin: 20vh auto 0 auto;
}

.background-TTT {
  padding-top: 1px;
  margin-top: -1px;
  width: 100vw !important;
  height: 100vh !important;
  background: url(https://static.pexels.com/photos/531756/pexels-photo-531756.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pNameInput {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 28px;
}

.playerLbl {
  font-size: 15px;
  text-align: right;
  float: right;
}

.counter {
  width: 50px;
  margin: 0 auto;
  cursor: pointer;
}

.counter:hover {
  border-bottom: 2px solid red;
  margin-bottom: -2px;
}

.counters-container {
  font-size: 16px;
  width: 150px;
  display: inline-block;
  align-content: space-between;
  text-align: center;
}

.chooseCounterOne {
  width: 300px;
  margin: 0 auto -20px auto;
}

.chooseCounterTwo {
  width: 300px;
  margin: 0 auto;
}

.onePlayerNames {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
  text-align: center;
}

.twoPlayerNames {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 46px;
  text-align: center;
}

.setup-TTT {
  width: 374px;
  height: 40vh;
  border: 2px solid black;
  margin: 25vh auto;
  padding: 5px;
  background: white;
}

#title-TTT {
  margin-top: 60px;
  font-size: 30px;
  text-align: center;
}

.subtitle-TTT {
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
}

.subtitle-2-TTT {
  margin-top: 20px;
  font-size: 13px;
  text-align: center;
}

.playerChoice {
  font-size: 16px;
  border: 2px solid black;
  border-radius: 10px;
  display: inline-block;
  padding: 5px 10px;
  width: 80px;
  text-align: center;
  margin: 0 15px;
  cursor: pointer;
}

.playerChoice:hover {
  border-color: red;
}

.button-container-TTT {
  width: 220px;
  margin: 40px auto;
}

.button-container {
  width: 220px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.chooseDiff {
  text-align: center;
}

.diffBtn {
  width: 70px;
}

.playBtn {
  width: 78px;
  margin: 0 auto;
}

.scores {
  width: 400px;
  margin-bottom: 40px;
  text-align: center;
  display: block;
  height: 200px;
  background: url("http://www.powerpointhintergrund.com/uploads/green-blackboard-background-12.jpg");
  background-size: 100% 100%;
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -200px;
}

#replayBtn {
  position: absolute;
  display: block;
  padding: 7px;
  width: 80px;
  left: 50%;
  margin-left: -40px;
  margin-top: 110px;
  float: none;
  border-radius: 10px;
  border: 2px solid black;
}

#resetBtn {
  position: absolute;
  display: block;
  padding: 7px;
  width: 50px;
  left: 50%;
  margin-left: -25px;
  margin-top: 70px;
  float: none;
  border-radius: 10px;
  border: 2px solid black;
}

.scoreNum {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-family: Nothing You Could Do !important;
  font-size: 2.5em;
  font-weight: bold;
}

#p1 {
  display: inline-block;
  width: 180px;
  float: left;
  margin-top: 50px;
}

.p2 {
  margin-top: 50px;
  display: inline-block;
  width: 180px;
  float: right;
}

#player1name {
  font-size: 1.8em;
  font-family: Nothing You Could Do !important;
}

.player2name {
  font-size: 1.8em;
  font-family: Nothing You Could Do !important;
}
/*# sourceMappingURL=styles.css.map */