//Add Option Error
.indecision--optionError {
  color: $off-white-indecision;
  font-style: italic;
  padding: 0 $m-size;
  margin: $m-size 0 0 0;
}

.indecision--addOption {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.indecision--addOption__input {
  background: $dark-blue-indecision;
  border: none;
  border-bottom: 0.3rem solid darken($dark-blue-indecision, 10%);
  flex-grow: 1;
  margin: 0 0 $s-size 0;
  color: $off-white-indecision;
  padding: $s-size;
}

@media (min-width: $desktop-breakpoint) {
  .indecision--addOption {
    flex-direction: row;
  }

  .indecision--addOption__input {
    margin-right: $s-size;
  }
}
