.carousel__left-arrow {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  box-sizing: inherit;
  cursor: pointer;
  padding: 0;
  border: 0;
  outline: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 30px;
  height: 30px;
  margin-top: -30px;
  border-radius: 50%;
  background-color: #818999;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.5rem 4rem 0 rgba(0, 0, 0, 0.5);
  left: -40px;
  &:hover {
    background-color: rgb(255, 0, 0);
  }
}

.carousel__right-arrow {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  box-sizing: inherit;
  cursor: pointer;
  border: 0;
  outline: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 30px;
  height: 30px;
  margin-top: -30px;
  border-radius: 50%;
  background-color: #818999;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.5rem 4rem 0 rgba(0, 0, 0, 0.5);
  right: -40px;
  &:hover {
    background-color: rgb(255, 0, 0);
  }
}
