.card__container {
  display: flex;
  flex-direction: column;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  cursor: pointer;
  @media screen and (min-width: $xs-breakpoint) {
    height: 220px;
  }
  @media screen and (min-width: $s-breakpoint) {
    height: 260px;
  }
  @media screen and (min-width: $md-breakpoint) {
    height: 300px;
  }
  @media screen and (min-width: $l-breakpoint) {
    height: 340px;
  }
}

.card__text {
  bottom: 0;
  font-size: 14px;
  color: $off-white;
  width: 100%;
  text-align: center;
  margin-top: -30px;
  font-family: "Barlow Semi Condensed", sans-serif;
  @media screen and (min-width: $xs-breakpoint) {
    font-size: 10px;
  }
  @media screen and (min-width: $s-breakpoint) {
    font-size: 11px;
  }
  @media screen and (min-width: $md-breakpoint) {
    font-size: 12px;
  }
  @media screen and (min-width: $l-breakpoint) {
    font-size: 13px;
  }
}

.card__image {
  display: flex;
  width: 90%;
  height: 90%;
  margin: 5%;
  &:hover {
    margin: 0;
    height: 100%;
    width: 100%;
  }
}

.card__title {
  text-align: center;
}
