.modal__container {
  max-width: 400px;
  font-family: "Barlow Semi Condensed", sans-serif;
  @media screen and (max-width: 420px) {
    width: 100%;
  }
}

.modal__title {
  font-size: 26px;
  margin: 0;
  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.modal__tagline {
  font-size: 15px;
  color: gray;
  font-style: italic;
  @media screen and (max-width: 768px) {
    font-size: 13px;
  }
}

.modal__header-text {
  font-size: 15px;
  @media screen and (max-width: 768px) {
    font-size: 13px;
  }
}

.modal__header {
  display: flex;
  width: 100%;
}

.modal__button {
  width: 80%;
  margin: 0 auto;
}

.modal__header-text-container {
  color: $off-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 3;
}

.modal__poster-container {
  display: flex;
  flex: 2;
}

.modal__poster {
  height: 200px;
  width: auto;
  margin: auto;
  @media screen and (max-width: 768px) {
    height: 170px;
  }
}

.modal__overview {
  width: 80%;
  margin: 20px auto;
  font-size: 13px;
  text-align: center;
  font-style: italic;
  color: $off-white-indecision;
  @media screen and (max-width: 768px) {
    font-size: 11px;
  }
}

.modal__loading-spinner {
  height: 80px;
  width: 80px;
  margin: auto;
  display: block;
}

.modal__genres {
  margin: 20px auto;
}

.modal__genre {
  border-radius: 4px;
  padding: 2px 4px;
  border: 2px solid $off-white;
  display: inline-flex;
  margin: 2px 4px;
  justify-content: center;
  color: $off-white;
  font-size: 12px;
  line-height: 1.4;
  @media screen and (max-width: 768px) {
    font-size: 10px;
  }
}

.modal__close-btn {
  color: $off-white;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    color: gray;
  }
}

.modal__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__rating {
  font-size: 16px;
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}
