.movies__label {
  color: $off-white;
  font-size: 16px;
  font-family: "Barlow Semi Condensed", sans-serif;
  @media screen and (max-width: $s-breakpoint) {
    font-size: 13px !important;
  }
  @media screen and (min-width: $s-breakpoint) {
    font-size: 15px !important;
  }
}

.movies__form-input {
  font-size: 16px !important;
  font-family: "Barlow Semi Condensed", sans-serif !important;
  @media screen and (max-width: $xs-breakpoint) {
    font-size: 13px !important;
  }
  @media screen and (max-width: $s-breakpoint) {
    font-size: 15px !important;
  }
}

.movies__search-options {
  display: inline-flex;
  margin: 0 20px;
  justify-content: space-around;
}

.movies__error {
  position: relative;
  bottom: 0;
  color: #dc3545;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  margin: 10px 0 0;
  width: 100%;
}

.movies__search {
  font-size: 18px;
  color: $off-white;
  width: 140px;
  text-align: center;
  justify-content: center;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 0 10px;
  padding: 4px;
  cursor: pointer;
  border: 1px solid red;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  &:hover {
    color: red;
  }
}

.movies__search--active {
  @extend .movies__search;
  font-weight: bold;
  background: lighten($gray-watch, 10%);
  border-bottom-color: lighten($gray-watch, 10%);
}

.movies__title {
  color: $off-white;
  font-size: 25px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.movies__optional {
  color: gray;
  font-style: italic;
  font-size: 12px;
  margin-left: 20px;
}

.movies__pagination-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.movies__search-container {
  background: lighten($gray-watch, 10%);
  border: 1px solid red;
  border-radius: 10px;
  padding: 20px 40px;
  margin-bottom: 20px;
  margin-top: -1px;
}

.movies__pagination {
  background: $gray-watch !important;
  &:hover {
    background: lighten($gray-watch, 10%) !important;
  }
}

.movies__check {
  display: flex;
  align-content: center;
  color: $off-white;
  margin-bottom: 4px;
  font-size: 14px;
}
