.navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid red;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 10vw;
  color: $off-white;
  margin-bottom: 30px;
}

.dropdown-menu {
  background: lighten($gray-watch, 8%) !important;
  padding: 20px 10px !important;
  margin-right: 40px !important;
  font-family: "Barlow Semi Condensed", sans-serif !important;
  a {
    text-decoration: none !important;
    color: $off-white !important;
  }
}

.dropdown-header {
  font-weight: bold !important;
  font-size: 18px !important;
  font-family: "Barlow Semi Condensed", sans-serif !important;
}

.dropdown-item {
  color: $off-white !important;
  font-size: 16px !important;
  font-family: "Barlow Semi Condensed", sans-serif !important;
  &:hover {
    background: lighten($gray-watch, 10%) !important;
  }
}

.navbar__img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin-right: 20px;
  border: 2px solid red;
}

.navbar__profile {
  display: inline-flex;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 5px 0 0;
  color: $off-white;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: red;
  }
}

.navbar__link {
  display: inline-flex;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 20px;
  width: 140px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
  color: $off-white;
  &:hover {
    text-decoration: none;
    color: red;
  }
}

.navbar__active {
  @extend .navbar__link;
  color: red;
}

.navbar__not-you {
  font-size: 12px;
  color: gray;
}

.navbar__links-container {
  display: inline-flex;
}
