* {
    font-family: 'Lobster Two', cursive !important;
    color: white;
}

body {
  background: url('http://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/239160/ee9e0eb25c43a1d5226e6331c74a438b1958a149.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title {
    font-family: 'Shadows Into Light', cursive;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


.arrows {
    display: inline-block;
    width: 80px;
    margin-top: -50px;
}

.times {
    text-align: center;
    font-size: 40px;
    margin-bottom: -20px;
}

.num {
    display: inline-block;
    width: 110px;
    text-align: center;
    margin-top: -20px;
}

#goBtn {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    cursor: pointer;
    z-index: 99999999;
}

.buttons {
    width: 125px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}

#stopBtn {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    display:inline-block;
    cursor: pointer;
    z-index: 99999999;
}

#circle-container {
	width: 340px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    padding-bottom: 40px;
}

#countdown {
    text-align: center;
    font-size: 30px;
}

#subtitle {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}


 /* Custom, iPhone Retina */
    @media only screen and (min-width : 220px) {
        .times {
            font-size: 1.6em;
        }
        .num {
            font-size: 3.8em;
        }
        .arrows {
            width: 60px;
            height: auto;
        }
        #title {
            font-size: 4em;
        }
        #subtitle {
	       font-size: 1.0em;
        }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
        .times {
            font-size: 1.6em;
        }
        .num {
            font-size: 3.8em;
        }
        #title {

        }
        #subtitle {
	       font-size: 1.1em;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .times {
            font-size: 1.5em;
        }
        .num {
            font-size: 4.6em;
        }
        .arrows {
            width: 80px;
            height: auto;
        }
        #title {
            font-size: 6em;
        }
        #subtitle {
	       font-size: 1.3em;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .times {
            font-size: 1.7em;
        }
        .num {
            font-size: 5.0em;
        }
        .arrows {
            width: 80px;
            height: auto;
        }
        #title {
            font-size: 7em;
        }
        #subtitle {
	       font-size: 1.4em;
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .times {
            font-size: 2em;
        }
        .num {
            font-size: 5.6em;
        }
        .arrows {
            width: 90px;
            height: auto;
        }
        #title {
            font-size: 8em;
        }
    }

/*!
 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.2.1
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover
 * Hover.css Copyright Ian Lunn 2017. Generated with Sass.
 */

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
