.home__container {
  background: $gray-watch;
  min-height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.home__title {
  color: $off-white;
  font-size: 24px;
  margin-bottom: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.home__text {
  font-size: 18px;
  color: $off-white;
}

.home__welcome {
  font-size: 18px;
  color: $off-white;
  font-style: italic;
  text-align: center;
}

.home__saved {
  font-size: 18px;
  color: $off-white;
  text-align: center;
}
