* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: "Open Sans", sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

.is-active {
  font-weight: bold;
}

.content-background {
  background: $off-white; // ?
}

.content-container {
  width: 80vw;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background: white;
  height: 100%;

  @media screen and (max-width: 576px) {
    width: 100vw;
  }
}
