$drum-slider: #2196f3;
$drum-container-bg: #808080;
$drum-bg: #a9a9a9;
$drum-border: #ffa500;

.drum__background {
  height: 100vh;
  width: 100vw;
}

.drum__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  overflow: hidden;
  width: 100%;
  * {
    font-family: "Oswald", sans-serif;
  }
}

.drum__info {
  margin: 0 auto;
  width: 60%;
  * {
    color: white;
    text-align: center;
  }
  margin-top: -140px;
  margin-bottom: 30px;

  @media (max-width: $s-breakpoint) {
    width: 80%;
  }

  @media (max-width: $xs-breakpoint) {
    width: 90%;
  }
}

.drum__title {
  font-size: 48px;
  padding: 10px;

  @media (max-width: $s-breakpoint) {
    font-size: 32px;
  }

  @media (max-width: $xs-breakpoint) {
    font-size: 22px;
  }
}

.drum__text {
  font-size: 20px;

  @media (max-width: $s-breakpoint) {
    font-size: 16px;
  }

  @media (max-width: $xs-breakpoint) {
    font-size: 12px;
  }
}

.drum__machine {
  background: $drum-bg;
  border: 4px solid $drum-border;
  border-radius: 20px;
  display: flex;
  padding: 30px;
  width: 700px;
  margin: 0 auto;
  @media (max-width: $s-breakpoint) {
    width: 480px;
    padding: 10px;
  }

  @media (max-width: $xs-breakpoint) {
    width: 95%;
    padding: 5px;
    min-height: 160px;
  }
}

.drum__button-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;

  @media (max-width: $xs-breakpoint) {
    width: 50%;
  }
}

.drum__row {
  display: flex;
}

.drum__button {
  background: $drum-container-bg;
  border-radius: 10px;
  box-shadow: 4px 4px 5px $black;
  font-family: "Londrina Solid", cursive;
  font-size: 26px;
  height: 80px;
  margin: 5px;
  padding: 20px 30px !important;
  text-align: center;
  vertical-align: middle;
  width: 100px;

  @media (max-width: $s-breakpoint) {
    width: 60px;
    height: 50px;
    font-size: 22px;
    padding: 10px !important;
    border-radius: 5px;
  }

  @media (max-width: $xs-breakpoint) {
    width: 40px;
    height: 32px;
    font-size: 18px;
    padding: 2px !important;
    border-radius: 5px;
  }
}

.drum__flash {
  background: $drum-border;
  box-shadow: 0 0 $black;
  transform: translate(2px, 4px);
}

.drum__controls-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  padding: 20px;

  @media (max-width: $xs-breakpoint) {
    width: 50%;
    padding: 0 5px;
  }
}

.drum__display {
  width: 100%;

  @media (max-width: $s-breakpoint) {
    width: 70%;
    margin: 0 auto;
  }
}

.drum__current {
  background: $drum-container-bg;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  line-height: 38px;

  @media (max-width: $s-breakpoint) {
    height: 24px;
    width: 90%;
    line-height: 24px;
    font-size: 14px;
  }
}

.drum__switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;

  @media (max-width: $s-breakpoint) {
    height: 17px;
    width: 30px;
  }
}

.drum__slider {
  -webkit-transition: 0.4s;
  background-color: $gray;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;

  &:before {
    -webkit-transition: 0.4s;
    background-color: $white;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;

    @media (max-width: $s-breakpoint) {
      bottom: 2px;
      height: 13px;
      left: 2px;
      width: 13px;
    }
  }
}

input {
  &:checked + .drum__slider {
    background-color: $drum-slider;

    &:before {
      -ms-transform: translateX(26px);
      -webkit-transform: translateX(26px);
      transform: translateX(26px);

      @media (max-width: $s-breakpoint) {
        -ms-transform: translateX(13px);
        -webkit-transform: translateX(13px);
        transform: translateX(13px);
      }
    }
  }

  &:focus + .drum__slider {
    box-shadow: 0 0 1px $drum-slider;
  }
}

.drum__switch > input {
  display: none;
}

.drum__slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drum__volume {
  margin: 0 auto;
  width: 100%;
}

.drum__label {
  display: block;
  font-size: 16px;
  margin-bottom: 2px;
  text-align: center;
  width: 60px;

  @media (max-width: $xs-breakpoint) {
    font-size: 12px;
  }
}
