.article__container {
  padding: 20px;
  border-style: solid;
  border-color: black;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  text-align: justify;
  box-sizing: content-box !important;
  text-decoration: none !important;

  &:hover {
    border-left: 10px solid yellow;
    cursor: pointer;
    background: rgb(233, 233, 233);
    margin-left: -7px;
  }
}

.article__title {
  font-weight: bolder;
  font-size: 20px;
  color: #4569ac;
}

.article__snippet {
  font-size: 14px;
}
