.login-button__btn {
  height: 40px;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 5px 0;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  > p {
    margin: 0;
  }
}

%btn {
  width: 80%;
  margin: 5px auto;
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.btn__google {
  @extend %btn;
  background-color: #db4437;
  &:hover {
    background-color: darken(#db4437, 7%);
  }
}

.btn__facebook {
  @extend %btn;
  background-color: #3b5998;
  &:hover {
    background-color: darken(#3b5998, 7%);
  }
}

.btn__github {
  @extend %btn;
  background-color: #000;
  &:hover {
    background-color: lighten(#000, 15%);
  }
}

.btn__reddit {
  @extend %btn;
  background-color: #ff4500;
  &:hover {
    background-color: darken(#ff4500, 7%);
  }
}

.btn__guest {
  @extend %btn;
  background-color: #32a852;
  &:hover {
    background-color: darken(#32a852, 7%);
  }
}

.login-button__icon {
  display: inline-block;
  width: 10%;
  vertical-align: middle;
  font-size: 20px;
  text-align: center;
  margin-top: -2px;
  @media screen and (max-width: $s-breakpoint) {
    font-size: 16px;
  }
}

.login-button__text {
  display: inline-block;
  width: 90%;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  @media screen and (max-width: $s-breakpoint) {
    font-size: 12px;
  }
}
