/* Buttons */
.button__chatter,
.button__chatter:hover {
  border: none;
  color: #fff;
  padding: 10px;
}

.button__chatter {
  background: #265f82;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button__chatter:hover {
  background: #1f4c69;
}

.button__chatter:disabled {
  cursor: default;
  background: #698ea5;
}

/* Text */
.timestamp {
  color: rgb(66, 66, 66) !important;
  float: right !important;
  text-align: right;
  width: 100%;
}

.chat__messages,
.chat__sidebar ul {
  list-style-type: none;
}

ol {
  padding: 5px !important;
}

p {
  margin: 0 !important;
}

* {
  box-sizing: border-box;
  font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.95rem;
}

li,
ul {
  list-style-position: inside;
}

h3 {
  font-weight: 600;
  text-align: center !important;
  font-size: 1.5rem;
}

/* Layout */
.centered-form {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background: -moz-linear-gradient(
    125deg,
    rgba(39, 107, 130, 1) 0,
    rgba(49, 84, 129, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0, rgba(49, 84, 129, 1)),
    color-stop(100%, rgba(39, 107, 130, 1))
  );
  background: -webkit-linear-gradient(
    125deg,
    rgba(39, 107, 130, 1) 0,
    rgba(49, 84, 129, 1) 100%
  );
  background: -o-linear-gradient(
    125deg,
    rgba(39, 107, 130, 1) 0,
    rgba(49, 84, 129, 1) 100%
  );
  background: -ms-linear-gradient(
    125deg,
    rgba(39, 107, 130, 1) 0,
    rgba(49, 84, 129, 1) 100%
  );
  background: linear-gradient(325deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
}

.centered-form__form {
  background: rgba(250, 250, 250, 0.9);
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 0 20px;
  margin: 20px;
  width: 330px;
}

.form-field {
  margin: 20px 0;
}

.form-field > * {
  width: 100%;
}

.form-field label {
  display: block;
  margin-bottom: 7px;
}

.form-field input,
.form-field select {
  border: 1px solid #e1e1e1;
  padding: 10px;
}

.chat__sidebar {
  overflow-y: scroll;
  width: 260px;
  height: 100vh;
  background: -moz-linear-gradient(
    125deg,
    rgba(39, 107, 130, 1) 0,
    rgba(49, 84, 129, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0, rgba(49, 84, 129, 1)),
    color-stop(100%, rgba(39, 107, 130, 1))
  );
  background: -webkit-linear-gradient(
    125deg,
    rgba(39, 107, 130, 1) 0,
    rgba(49, 84, 129, 1) 100%
  );
  background: -o-linear-gradient(
    125deg,
    rgba(39, 107, 130, 1) 0,
    rgba(49, 84, 129, 1) 100%
  );
  background: -ms-linear-gradient(
    125deg,
    rgba(39, 107, 130, 1) 0,
    rgba(49, 84, 129, 1) 100%
  );
  background: linear-gradient(325deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
}

.chat__footer,
.chat__sidebar li {
  background: #e6eaee;
  padding: 10px;
}

.chat__sidebar h3 {
  color: #e6eaee;
  margin: 10px 20px;
  text-align: left;
}

.chat__sidebar li {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Mobile Layout */
@media (max-width: 600px) {
  * {
    font-size: 1rem;
  }
  .chat__footer {
    flex-direction: column;
  }
  .chat__footer button {
    font-size: 0.7rem;
  }
  .chat__footer .location-button {
    margin-right: 0;
    width: 100px !important;
  }
}

/* Message Styles */

.icon {
  display: inline !important;
  padding: 5px;
}
